.DS_Store

.idea/
.vscode/
*.iml

.runtime/
**/target/
**/logs/
**/*.log

**/data/
**/*.mv.db
**/*.trace.db

api-spring-boot-starter-v2.1/
eshop-spring-boot-starter-huashou/
portal-huashou-dev-v4.3/
*.rar
*.zip

**/node_modules/
**/playwright-report/
**/test-results/
